#!/usr/bin/make -f

export DH_VERBOSE=1

#export DEB_BUILD_OPTIONS=nostrip
export PYTHONDONTWRITEBYTECODE=1

MAJREL=$(shell head -1 debian/.release)

# Gets the name of the source package
DEB_SOURCE_PACKAGE := $(strip $(shell egrep '^Source: ' debian/control | cut -f 2 -d ':'))
UPSOURCE :=$(shell echo $(DEB_SOURCE_PACKAGE)|sed 's/^venv-//')
# Gets the full version of the source package including debian version
DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION := $(shell echo $(DEB_VERSION) | cut -d: -f2-)
# Gets only the upstream version of the package
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_NOEPOCH_VERSION) | sed 's/-[^-]*$$//')
export PBR_VERSION=$(DEB_UPSTREAM_VERSION)

VIRTENV=usr/lib/virtualenv
export DH_VIRTUALENV_INSTALL_ROOT=/$(VIRTENV)
export VENV=$(VIRTENV)/$(DEB_SOURCE_PACKAGE)
VENVINST='debian/venv-panko/$(VIRTENV)/$(DEB_SOURCE_PACKAGE)'
PIPCACHE='file:///usr/share/os-requirements-$(MAJREL)-pipcache'

get-orig-source:
	git archive -o ../$(DEB_SOURCE_PACKAGE)_$(DEB_UPSTREAM_VERSION).orig.tar.gz $(DEB_UPSTREAM_VERSION)

# debian default
%:
	dh $@ --with python2,python-virtualenv,systemd,sysuser

####################### overrides ##############################
override_dh_gencontrol:
	dh_gencontrol -- -Vmajrel=$(MAJREL)

override_dh_virtualenv:
	dh_virtualenv   -p $(DEB_SOURCE_PACKAGE) --preinstall six \
			--extra-pip-arg '--constraint=/usr/share/os-requirements-$(MAJREL)-pipcache/os-upper-constraints.txt' \
			--extra-pip-arg '--no-compile' \
			--extra-pip-arg '--no-index' \
			--extra-pip-arg '--find-links=$(PIPCACHE)/cache/'
	(cd $(VENVINST); ./bin/python -B bin/pip install -r $(CURDIR)/debian/additional-requirements.txt \
			--constraint=/usr/share/os-requirements-$(MAJREL)-pipcache/os-upper-constraints.txt \
			--no-compile \
			--no-index \
			--find-links=$(PIPCACHE)/cache/ )
	/usr/sbin/patch-venv-$(MAJREL).sh $(VENVINST)
	mkdir -p $(VENVINST)/etc/panko
	(cd $(VENVINST); ./bin/python -B bin/oslo-config-generator --config-file $(CURDIR)/etc/panko/panko-config-generator.conf)
	cp $(VENVINST)/etc/panko/panko.conf debian/panko-common/etc/panko/panko.conf
	pyclean $(VENVINST)

override_dh_clean:
	dh_clean
	rm -f debian/venv-panko.prerm

override_dh_install:
	sed "s|__VENV__|$(VENV)|g" debian/venv-panko.prerm.in > debian/venv-panko.prerm
	dh_install

# do not install any /etc/init.d scripts, we use systemd
override_dh_installinit:
	dh_installinit --noscripts

# don't enable service by default.
override_dh_systemd_enable:
	dh_systemd_enable --no-enable

